.btn-cssbuttons {
  --btn-color: var(--green-weight);
  position: relative;
  padding: 8px 25px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: #8E24AA;
  border: none;
  outline: none;
  overflow: hidden;
  border-radius: 24px;

  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
  transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
  padding-right: 7px;
}

.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn-cssbuttons ul li {
  flex: 1;
}

.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}

.btn-cssbuttons:hover::before {
  transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}

.button {
  --color: var(--green-aqua);
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: white;
  z-index: 1;
}

.button::before,
.button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(.8);
}


/* map */
.map{
  width:100%;
  height: 100%;
}



.buttonFloat{
  position:sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.commentText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media only screen and (min-width: 900px){
  .buttonFloat{
    display: none;
  }
  .commentText {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      /* number of lines to show */
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }
}

